<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Test Button"></Label>
</ActionBar>

<StackLayout >
    <Button text="Show Last Year" (tap)="showLastYear()"></Button>

    <Button text="Show Only Future Dates" (tap)="showOnlyFutureDates()"></Button>


    <StackLayout height="80%">
        <date-range-component #dr
                              [titleText]="'Please select leave and return dates'">
        </date-range-component>
    </StackLayout>
    <StackLayout height="20%">
        <Button text="Tests" (tap)="getValue()"></Button>
    </StackLayout>
</StackLayout>
